.form-img-space {
  margin-top: 15px;
  height: 168px;
  width: 100%;
  background-color: $lightgary;
  border-top: 2px solid $grey;
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
}

.form-img {
  position: relative;
  display: inline-block;
  max-width : 25%;
  max-height: 165px;
  background-color: black;
  img {
    width : 100%;
    max-height: 130px;
    height: auto;
  }
}

.form-img.cover {
  img{
    border: 1px solid #40a5e3;
  }
  .glyphicon-picture {
    color: green;
  }
}

.form-img-cover {
  display: inline-block;

  padding: 8px 0 ;
  width: 50%;
  text-align: center;
  border-left : 1px solid $lightgary;
  border-bottom : 3px solid $lightgary;
  background-color: white;
}

.form-img-cover:hover {
  cursor: pointer;
  background-color: $grey;
}

.form-img-remove {
  display: inline-block;

  padding: 8px 0 ;
  width: 50%;
  text-align: center;
  border-left : 1px solid $lightgary;
  border-bottom : 3px solid $lightgary;
  border-right : 1px solid $lightgary;
  background-color: white;
}

.form-img-remove:hover {
  cursor: pointer;
  background-color: $grey;
}

.preview-min {
  text-align: center;
  width: 100%;
}
