.ng-enter,
.ng-leave
{
    -webkit-transition: 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display: block;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
    left: 0;
    height: 30px;
}

.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
    left: -500px;
    height: 0px;
}
