.comment-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-post {

}

.comment-username {
  font-weight: bold;
  margin-bottom: 6px;
}

  .comment-avatar {
    width: 55px;
    height: 55px;
    float: left;
    img {
      width: 55px;
      height: 55px;
      border-radius: 10px;
    }
  }

  .comment-board {
    border: 0.6px solid $grey;
    padding: 16px;
    background-color: #fff;
  }

  .comment-form {
    float: left;
  }

  .comment-content {
    float: left;
    padding-left: 15px;

  }
  .comment-box {
    width: 350px;
    margin-bottom: 20px;
    border: 0.5px solid $grey;
    min-height: 66px;
  }

  .comment-box.unclicked:hover {
    cursor: pointer;
  }

  .comment-submit {
    float: right;
  }

.comment-each {
  clear: both;
  margin-bottom: 10px;
}

.comment-answer {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 12px;
  color: $darkgary;
}

.comment-answer:hover {
cursor: pointer;
}

.comment-answered {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  border-left: 2px solid $lightgary;
}
