header {
    background-color: $grey;
    padding: 0 !important;
    margin: 0;
    border-bottom: 2px solid  $darkgary;

    width: 100%;

}

top-header {


    background-color: $lightgary;
    display: block;
    margin: 0;
    padding: 20px 0 20px 0 ;

    font-family: 'Baloo Bhai', cursive;
}

nav-header {
    display: block;
    margin: auto;
    padding: 0 !important;
        ul{
          list-style-type: none;
          margin: 0;
          padding: 0 !important;

        }

        li {
            padding: 16px;
        }

        .active {
          background-color: $lightgary;
          font-weight: bold;
        }
}

.header-menu{
    display: inline-block;
    li {
      display: inline-block;
    }
    li:hover {

      cursor:pointer;
      background-color: $lightgary;
      transition: background-color 1s ease;
    }
}

.header-user{
    display: inline-block;
    li {
      display: inline-block;
      float: right;
    }
    li:hover {

      cursor:pointer;
      background-color: $lightgary;
      transition: background-color 1s ease;
    }
}
