

header {
    background: $grey;

    padding: 0 !important;
    margin: 0;
    border-bottom: 2px solid  $darkgary;

    width: 100%;

}

top-header {
    background-color: $lightgary;
    display: block;
    margin: 0;
    padding: 10px 0 10px 0 ;
    font-family: 'Baloo Bhai', cursive;
}

.logo {
  font-size: 16px;
  .logo-small {
    font-size: 12px;
  }
}

.mid {
  font-size: 18px;

  .bell {
    margin-top: 10px;
  }
}

.auth {
  padding: 0px !important;
  .dropdown{
    display: block;
    margin: auto;
    float: none ;
  }
  li {
      padding: 10px  0;
      text-align: center;
      border-bottom: 1px solid $lightgary;


  }

  button.login{
    display: block;
    margin: auto;
  }
  .menu {
    font-size: 25px;
    margin-top: 8px;
  }
}




nav-header {
    display: block;
    height: 36px;
    padding: 0 !important;
}

.header-menu{

    margin: auto;
    padding: 0;
    display: block;

    li {
      display: inline-block;
      padding: 8px 8px;
    }
    li:hover {

      cursor:pointer;
      background-color: $lightgary;
      transition: background-color 1s ease;
    }
    .active {
      background-color: $lightgary;
      font-weight: bold;
    }
}

.header-user{
    display: inline-block;
    li {
      display: inline-block;
      float: right;
    }
    li:hover {

      cursor:pointer;
      background-color: $lightgary;
      transition: background-color 1s ease;
    }
}
