

header {
    background: $grey;

    padding: 0 !important;
    margin: 0;
    border-bottom: 2px solid  $darkgary;

    width: 100%;

}

top-header {
    background-color: $lightgary;
    display: block;
    margin: 0;
    padding: 10px 0 10px 0 ;
    font-family: 'Baloo Bhai', cursive;
}

.logo {
  font-size: 16px;
  .logo-small {
    font-size: 12px;
  }
}

.search-form {
    margin-top: 5px;
}

.search-box {
    height: 30px;
    border-bottom-width: 0px;
    border-top-width: 2px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding-bottom: 1px;
    border-radius: 5px 0 0 5px;
}

.search-btn {
  background-color: white;
  height: 31px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-radius: 0 5px 5px 0;
}
  .bell {
    font-size: 18px;
    margin-top: 10px;
  }


.auth {
  .dropdown{
    display: block;
    margin: auto;
    float: none ;
  }
  li {
      padding: 10px  0;
      text-align: center;
      border-bottom: 1px solid $lightgary;


  }

  button.login{
  }
  .menu {
    font-size: 25px;
    margin-top: 8px;
  }
}




nav-header {
    display: block;
    height: 36px;
    padding: 0 !important;
}

.header-menu{

    margin: auto;
    padding: 0;
    display: block;

    li {
      display: inline-block;
      padding: 6px 15px;
      border-bottom: 4px solid $darkgary;
      border-left: 4px solid $grey;
      border-right: 4px solid $grey;
    }
    li:hover {
      border-left: 4px solid $lightgary;
      border-right: 4px solid $lightgary;
      cursor:pointer;
      background-color: $lightgary;
      transition: background-color 1s ease;
    }
    .active {
      background-color: $lightgary;
      border-left: 4px solid $lightgary;
      border-right: 4px solid $lightgary;
      font-weight: bold;
      border-bottom: 4px solid #40a5e3;
    }
}

.header-user{
    display: inline-block;
    li {
      display: inline-block;
      float: right;
    }
    li:hover {

      cursor:pointer;
      background-color: $lightgary;
      transition: background-color 1s ease;
    }
}
