.myproduct-footage {
  background-color : #c7c7c7;
  height: 44px;
  padding: 0 16px;
  border-bottom: 2px solid $darkgary;
  border-radius: 0 0 8px 8px;


  .glyphicon-wrench{
    padding: 12.5px 30px;
    color: yellow;
    font-size: 16px;
  }
  .glyphicon-wrench:hover,
  .glyphicon-remove:hover {
    cursor: pointer;
    background-color: $darkgary;
  }

  .glyphicon-remove.active{
    background-color: $darkgary;
  }

  .glyphicon-remove{
    padding: 12.5px 30px;
    font-size: 16px;
    color: red;
    float: right;
  }

}

.myproduct-body {
  position: relative;
  text-align: center;
  padding: 16px 16px 16px 16px;
  border-top : 1px solid $grey;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  border-radius: 8px 8px 0 0;
  background-color: white;
}

.myproduct-body:hover {
  cursor: pointer;
  border-top : 1px solid #40a5e3;
  border-left: 1px solid #40a5e3;
  border-right: 1px solid #40a5e3;
  opacity: 0.6;
}

.preDelete{
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}

.preDelete-selector{
  position: absolute;
  top: 40%;
  left: 15%;
  .delete{
    margin-right: 20px;
  }
}
.avatar-modal {
    margin: 20px;
}

.avatar {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.profile {
  margin-bottom: 30px;
}

  .profile-avatar {
    text-align: center;
    margin-bottom: 15px;
  }

.profile-avatar.click {
  cursor: pointer;
}

.inputfile-upload {
  position: absolute;
  width: 100%;
  height: 100%;
   margin: 0;
   top:0;
   left: 0;
   padding: 0;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;

}

.inputfile-btn {
   position: relative;
   margin: 10px;
   .glyphicon {
     font-size: 19px;
     margin-right: 10px;
   }
}

.avatar-storage {
  margin-bottom: 10px;
}
