.product-sidebar {

  background-color: #fff;
  padding-bottom: 30px;
  border: 1px solid $grey;
  border-bottom: 2px solid  $grey;
  border-radius: 8px;
}

.product-side-submit {
  margin-top: 12px;
  width: 175px;
}

.product-side{
    text-align: center;

  .following.disabled{
    opacity: 0.4;
  }

  .following.click:hover{
    cursor: pointer;
    background-color: $grey;
    border-left: 1px solid $darkgary;
    border-right: 1px solid $darkgary;
    border-top: 3px solid $darkgary;
    border-bottom: 1px solid $grey;
    .glyphicon-star{
        color: orange;
    }

  }
  .following{
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    width: 50%;
    font-weight: bold;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom: 3px solid $grey;

    .glyphicon-star{
        font-size: 16px;
        padding: 5px;
    }

  }
  .following.active{
    cursor: pointer;
    background-color: $grey;
    border-left: 1px solid $darkgary;
    border-right: 1px solid $darkgary;
    border-top: 3px solid $darkgary;
    border-bottom: 1px solid $grey;
    .glyphicon-star{
        color: orange;
    }

  }
}
