.product-side{
  .following:hover{
    cursor: pointer;
    background-color: $grey;
    border-left: 1px solid $darkgary;
    border-right: 1px solid $darkgary;
    border-top: 3px solid $darkgary;
    .glyphicon-star{
        color: orange;
    }
  }
  .following{
    text-align: center;
    padding: 10px 0;
    width: 50%;
    font-weight: bold;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom: 3px solid $grey;
    .glyphicon-star{
        font-size: 16px;
        padding: 5px;
    }
  }
  .following.active{
    cursor: pointer;
    background-color: $grey;
    border-left: 1px solid $darkgary;
    border-right: 1px solid $darkgary;
    border-top: 3px solid $darkgary;
    .glyphicon-star{
        color: orange;
    }
  }
}
