.store {
  width: 100%;
}
.row {
  margin: 0 !important;
}
.product-box {
  padding: 16px;
  display: block;
  float: left;
  width: 200px;
  border: 1px solid $grey;
  border-bottom: 2px solid $darkgary;
  border-radius: 8px;
}

.product-box:hover {
  cursor: pointer;
  border: 1px solid #40a5e3;
  border-bottom: 2px solid #40a5e3;
}

.box {
  clear: both;
}

.product-img {

  img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 170px;
    max-height: 200px;

  }
}
