@import 'variable';
@import 'responsive';
@import 'header';
@import 'store';
@import 'product-main';
@import 'product-side';
@import 'animate-store';
@import 'myProduct';
@import 'following';

html {

height:100%;
width:100%;
}

.box {
  padding-top: 30px;
  display: block;
  width: 100%;
  margin: auto;
}


.bodylock { overflow-y : hidden;}
