@import 'variable';
@import 'responsive';
@import 'header';
@import 'store';
@import 'product-main';
@import 'product-side';
@import 'animate-store';
@import 'myProduct';
@import 'following';
@import 'addProduct';
@import 'notification';
@import 'form-validation';
html {
background-color: #f9f9f9;
height:100%;
width:100%;
}

body {
background-color: #f9f9f9 !important;
}

.box {
  padding-top: 30px;
  display: block;
  width: 100%;
  margin: auto;
}
.no-animate {
   transition: none !important;
   animation-duration : 0 !important;
}

.bodylock { overflow-y : hidden;}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
