@import 'variable';
@import 'responsive';
@import 'header';
@import 'store';
@import 'product-main';
@import 'animate-store';
@import 'masonry-store';
body {
  margin: auto;

}

.box {
  display: block;
  width: 100%;
  margin: auto;
}
