uib-tabset(active='activeJustified')
  uib-tab(index='0', heading='My Product' , ui-sref = 'dashboard.myProduct')
    .my-product(ui-view="myProduct")
  uib-tab(index='1', heading='Following', ui-sref = 'dashboard.following')
    .following(ui-view="following")
