div
  .profile.row(ng-controller='profileController as profile')
    .content-header
      h3 Profile
    .profile-avatar.col-md-3
      img.avatar(ng-src='{{avatarImage.img[avatarImage.pointer].link||"http://www.premiumdxb.com/assets/img/avatar/default-avatar.jpg"}}')
      .profile-avatar.click.btn.btn-primary(ng-click='profile.avatarEditor()')
        |Edit Avatar
    .profile-info.col-md-9
      b {{user}}
      br
      |Sucess rate buy 100%
      br
      |Comment after service.

  uib-tabset(active='activeJustified')
    uib-tab(index='0', heading='My Product' , ui-sref = 'dashboard.myProduct' , ui-sref-active="{'active' : '.myProduct'}")
      .my-product(ui-view="")
    uib-tab(index='1', heading='Following', ui-sref = 'dashboard.following' , ui-sref-active="{'active' : '.following'}")
      .following(ui-view="")
