div
    div(ng-show='(signupForm.email.$error.required ) && signupForm.email.$touched' ng-style='{"font-size":"10px" , "margin-right":"8px", "color":"red"}')
      |*Require
    div(ng-show='(!signupForm.email.$error.required) && signupForm.email.$touched' ng-style='{"font-size":"13px", "color":"green"}')
      b Correct
