div
    div(ng-show='(signupForm.firstname.$error.required || signupForm.firstname.$error.minlength || signupForm.firstname.$error.maxlength) && signupForm.firstname.$touched' ng-style='{"font-size":"10px" , "margin-right":"8px", "color":"red"}')
      |*Require 1-16 characters.
    div(ng-show='signupForm.firstname.$error.pattern && signupForm.firstname.$touched' ng-style='{"font-size":"10px", "color":"red"}')
      |*No allow special character.
    div(ng-show='(!signupForm.firstname.$error.required && !signupForm.firstname.$error.minlength && !signupForm.firstname.$error.maxlength && !signupForm.firstname.$error.pattern) && signupForm.firstname.$touched' ng-style='{"font-size":"13px", "color":"green"}')
      b Correct
