
.popover-repeat(ng-repeat = "each in user.notification.notification" , ui-sref='product.detail({id: each.product._id})')
    .notification-img
      img(ng-src = '{{each.product.img ||  "http://placehold.it/50x50" }}')

    .notification-text(ng-if = 'each.type === "bider"')<b>{{each.username == user.username ? 'You': each.username}}</b> take offer <b>{{each.message}}</b> THB. to <b>{{each.product.name}}</b>
    .notification-text(ng-if = 'each.type === "creator"')<b>{{each.product.name}}</b> has been <b>created.</b>
    .notification-text(ng-if = 'each.type === "delete"')<b>{{each.product.name}}</b> has been <b>deleted.</b>
    .notification-text(ng-if = 'each.type === "close"')<b>{{each.winner.name}}</b> is a <b>winner.</b><br>By <b>{{each.winner.price}}</b> THB.
