div
    div(ng-show='(signupForm.password.$error.required || signupForm.password.$error.minlength || signupForm.password.$error.maxlength) && signupForm.password.$touched' ng-style='{"font-size":"10px" , "margin-right":"8px", "color":"red"}')
      |*Require 6-16 characters.
    div(ng-show='signupForm.password.$error.pattern && signupForm.password.$touched' ng-style='{"font-size":"10px", "color":"red"}')
      |*No allow special character.
    div(ng-show='(!signupForm.password.$error.required && !signupForm.password.$error.minlength && !signupForm.password.$error.maxlength && !signupForm.password.$error.pattern) && signupForm.password.$touched' ng-style='{"font-size":"13px", "color":"green"}')
      b Correct
