.logo.col-xs-2.col-sm-4
    |S H O W
    br
    span.logo-small
      |R O O M

.mid.col-xs-8.col-sm-4
  form.form-inline.search-form
    input.search-box(type='text',placeholder="search product's name")
    input.search-btn(type='submit',value='search')

.auth.col-xs-2.col-sm-4(ng-controller='authenticate as user')

    button.btn.btn-primary.btn-lg.login(class="sign-in" , ng-click='user.signin()' , ng-if='!user.username')
      | Log In
    span(uib-dropdown='')
      span.user(ng-show='user.username')
        | {{user.username}}
        span.bell.glyphicon.glyphicon-bell
      a(href='', id="dropdown" , uib-dropdown-toggle='')
        span.menu.glyphicon.glyphicon-menu-hamburger(ng-show='user.username')
      ul.dropdown-menu(uib-dropdown-menu='', aria-labelledby='dropdown')
        a(ui-sref='newProduct')
          li
            |Add Product
        a(ui-sref='dashboard.myProduct')
          li
            |Dashboard
        li( ng-click='user.signout()')
          button.btn.btn-danger
            |Log Out
