div(class = 'product-box' ng-repeat='product in store.product')
  div(class='product-img')
    img(src = 'http://placehold.it/250x200' width='250' height='200')
  div(class = 'product-detail')
    h2 {{product.name}}
    h4 Description
    p {{product.description}}
    div( class = 'product-auction' )
      |Completed@ {{product.bidEnd}}
      div(class = 'product-price')
        {{product.price}} |THB
