a(ui-sref="newProduct")
  button(type='button' , ng-click='') Add
button(type='button' , ng-click='store.delete()') Delete
br
br
.grid
  .grid-item.product-box( ng-repeat='product in store.product' ui-sref='product.detail({id: product._id})')
    div(class='product-img ')
      img(ng-src = '{{product.img[product.coverImg].link}}')
    div(class = 'product-detail ')
      h4 {{product.name}}
      div( class = 'product-auction' )
        timer( milisec = '{{product.bidEnd}}' )
        div(class = 'product-price')
          |{{product.bider[product.bider.length-1].price}} THB
          br
          | By {{product.bider[product.bider.length-1].name}}
          br
          |{{product.bider[product.bider.length-1].time}}
