.product-side
  .description
    h2 {{product.name}}
    h4(ng-style='{"background-color" : " #e1e1e1"}') Description
    p {{product.description}}
    h3(ng-style='{"color" : "orange" , "margin-bottom" : "20px"}' , ng-if='product.bidEnd<=0') Time Over
    h4(ng-if='product.bidEnd>0') Time Remaining
    timer( milisec = '{{product.bidEnd}}' , ng-if='product.bidEnd>0')
  .price
    h4(ng-style='{"background-color" : " #e1e1e1"}') Current price

    b(ng-style='{"font-size" : "16px"}')  {{product.bider[product.bider.length-1].price}} THB.
    br
    | By {{product.bider[product.bider.length-1].name}}
    br
    |{{product.bider[product.bider.length-1].time}}
  form(name = 'add' , ng-submit='product.offer()' , style = 'text-align:center' ,  novalidate='' , ng-if='product.bidEnd>0')
      span(ng-show='add.price.$invalid && add.price.$touched') Price should be more than {{product.bider[product.bider.length-1].price}} .
      br
      input(type = 'number' , name = 'price' , ng-model = 'product.price' min='{{product.bider[product.bider.length-1].price}}+1' , integer=''  placeholder = "Place your offer's price" )
      br
      input.btn.btn-info.product-side-submit( type = 'submit' , value = 'Offer price' )
  br
  button.following(ng-click='product.following(product._id)' , ng-class='{"active":product.active,"disabled":product.creator === user,"click":product.creator !== user}'
  , type='button', ng-disabled="product.creator === user")
    span.glyphicon.glyphicon-star
    |FOLLOW
