a(ui-sref="newProduct")
  button.btn.btn-success.btn-lg(type='button' , ng-click='')
    span.glyphicon.glyphicon-plus( aria-hidden="true" )
    |Create Product
br
br
.grid
  .grid-item.product-box( ng-repeat='product in store.product' , ui-sref='product.detail({id: product._id})',\
  ng-class='[ \
  { "vertical" : {{ product.coverImg.autoH >= product.coverImg.autoW }} } ,\
  { "horizontal" : {{ product.coverImg.autoH < product.coverImg.autoW }} }]')

    .product-img(\
    ng-style= '{\
    "height":(product.coverImg.autoH > product.coverImg.autoW ?product.coverImg.autoH:null)+"px" ,\
    "width":(product.coverImg.autoH < product.coverImg.autoW ?product.coverImg.autoW:null)+"px" } ')
      img(ng-src = '{{product.img[product.coverImg.index].link}}')

    .product-detail
      h4 {{product.name}}
      .product-auction
        timer( milisec = '{{product.bidEnd}}' )
        .product-price
          |{{product.bider[product.bider.length-1].price}} THB
          br
          | By {{product.bider[product.bider.length-1].name}}
          .past-ago
            |{{product.bider[product.bider.length-1].time}}
