br
br
a(ui-sref="newProduct")
  button(type='button' , ng-click='store.add()') Add
button(type='button' , ng-click='store.delete()') Delete
br
br
div(class = 'product-box' ng-repeat='product in store.product' ui-sref='product.detail({id: product.name})')
  div(class='product-img')
    img(src = '{{product.img[0].link}}' width='250' height='200')
    //img(src = 'http://placehold.it/250x200' width='250' height='200')
  div(class = 'product-detail')
    h2 {{product.name}}
    h4 Description
    p {{product.description}}
    div( class = 'product-auction' )
      timer( milisec = '{{product.bidEnd}}' )
      div(class = 'product-price')
        ||{{product.bider[product.bider.length-1].price}} THB
