div(class = 'product-box' ng-repeat='product in store.product' ui-sref='product.detail({id: product.name})')
  div(class='product-img')
    img(src = 'http://placehold.it/250x200' width='250' height='200')
  div(class = 'product-detail')
    h2 {{product.name}}
    h4 Description
    p {{product.description}}
    div( class = 'product-auction' )
      timer( milisec = '{{product.bidEnd}}' )
      div(class = 'product-price')
        ||{{product.price}} THB
br
br
form(name = 'add' , ng-submit = 'store.add(store.mos)' , style = 'text-align:center')
  |Product's name:
  br
  input(type = 'text' , name = 'name' , ng-model="store.mos.name")
  br
  |Price:
  br
  input(type = 'text' , name = 'price' , ng-model="store.mos.price")
  br
  |Time:
  br
  |days : hours
  br
  input(type = 'number' , name = 'hour' , ng-model="store.mos.time.days")
  |:
  input(type = 'number' , name = 'min' , ng-model="store.mos.time.hours")
  br
  input(type = 'submit' , value = 'submit')
