br
br
a(ui-sref="newProduct")
  button(type='button' , ng-click='store.add()') Add
button(type='button' , ng-click='store.delete()') Delete
br
br
.row
  div(class = 'product-box col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3' ng-repeat='product in store.product' ui-sref='product.detail({id: product.name})')
    div(class='product-img col-xs-6')
      img(ng-src = '{{product.img[0].link}}')
    div(class = 'product-detail col-xs-6')
      h2 {{product.name}}
      h4 Description
      p {{product.description}}
      div( class = 'product-auction' )
        timer( milisec = '{{product.bidEnd}}' )
        div(class = 'product-price')
          |{{product.bider[product.bider.length-1].price}} THB
