.slideshow-container
  .mySlides.fade
    .numbertext 1 / 3
    img(src='http://placehold.it/500x350', style='width:100%')
    .text Caption Text
  .mySlides.fade
    .numbertext 2 / 3
    img(src='http://placehold.it/400x300', style='width:100%')
    .text Caption Two
  .mySlides.fade
    .numbertext 3 / 3
    img(src='http://placehold.it/400x350', style='width:100%')
    .text Caption Three
  a.prev(ng-click='plusSlides(-1)') ❮
  a.next(ng-click='plusSlides(1)') ❯
br
div(style='text-align:center')
  span.dot(ng-click='currentSlide(1)')
  span.dot(ng-click='currentSlide(2)')
  span.dot(ng-click='currentSlide(3)')
