.slideshow-container
  .mySlides.no-animate(ng-repeat='(key1, value1) in pic')
    .numbertext {{$index+1}} / {{lengthPage()}}
    img.gallery.middle.fadepic(ng-src='{{value1.link}}')
    //.text Caption Text

  a.prev(ng-click='plusSlides(-1)') ❮
  a.next(ng-click='plusSlides(1)') ❯

.slideshow-sample
  .dot(ng-style='{"width":"25%" , "height":"100%" }' , ng-repeat='(key2,value2) in pic')
    img(ng-src='{{value2.link}}' , ng-click='currentSlide($index)' )
