.comment-post
  .comment-avatar
    img( ng-src = '{{$parent.comment.post_avatar}}' )
  form.comment-form.comment-content( name = 'commentForm' ng-submit='answer.ansComment("answer")' ng-click = '' )
    .comment-box#comment-focus( name = 'postBox' contenteditable = '' ng-model='message' strip-br="true" )
    .comment-submit
      buttom.btn.btn-default.comment-close(ng-click = 'answer.close()') Cancel
      input.btn.btn-primary( type='submit' value='Comment' )
