.comment-title Comment
.comment-post.row(comment-height='')
  .comment-avatar
    img( ng-src = '{{comment.post_avatar}}' )
  form.comment-form.comment-content( name = 'commentForm' ng-submit='comment.postComment()' )
    .comment-box( name = 'postBox' contenteditable = '' ng-model='message' ng-click = 'comment.clicked()' ng-class = '{unclicked : comment.state_clicked}')
    .comment-submit(ng-class = '{"vis-hidden" : comment.state_clicked}')
      input.btn.btn-primary( type='submit' value='Comment' )
.comment-each( ng-repeat = 'each in comment.all_comment' comment-height='' class = 'no-{{$index}}')
  .comment-avatar
    img( ng-src = '{{ each.avatar.avatarImage.img[each.avatar.avatarImage.pointer].link }}' )
  .comment-content(class = 'no-{{$index}}')
    span.comment-username
      |{{each.username}}
    .comment-message( ng-bind-html = 'each.message' )
    .comment-answer
      span.comment-answer-reply(ng-click = 'comment.answer( $index , each.username )') Reply
    .comment-answered( ng-repeat = 'eachAns in comment.all_comment[$index].answer' comment-height='' class = 'no-{{$index}}')
        .comment-avatar
          img( ng-src = '{{ eachAns.avatar.avatarImage.img[eachAns.avatar.avatarImage.pointer].link }}' )
        .comment-content
          span.comment-username
            |{{eachAns.username}}
          .comment-message( ng-bind-html = 'eachAns.message' )
          .comment-answer
            span.comment-answer-reply(ng-click = 'comment.answer( $parent.$index , eachAns.username )') Reply
