doctype html
html
  head
    title Pramool
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    link(href='./lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Baloo+Bhai', rel='stylesheet')
  body(ng-app="main" , ng-class = 'body')
    header(class="text-center col-xs-12")
      top-header.col-xs-12
      nav-header.col-xs-12
    div(class='box' ui-view='')


    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();
    script(type="text/javascript",src="./bin/bundle.js")
  
