doctype html
html
  head
    title Pramool
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    link(href='./lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Baloo+Bhai', rel='stylesheet')
  body(ng-app="main")
    header(class="text-center col-xs-12")
      top-header.col-xs-12
      nav-header.col-xs-12
    div(class='box' ui-view='')


    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();

    script(type="text/javascript",src="./lib/angular/angular.min.js")
    script(type="text/javascript",src="./lib/angular-animate/angular-animate.min.js")
    script(type="text/javascript",src="./lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(type="text/javascript",src="./lib/ng-file-upload/ng-file-upload-all.min.js")
    script(type="text/javascript",src="./lib/angular-ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript",src="./modules/header/routes/header-config.js")
    script(type="text/javascript",src="./modules/header/header.js")

    script(type="text/javascript",src="./modules/addProduct/addProduct-app.js")
    script(type="text/javascript",src="./modules/addProduct/services/imgur-service.js")
    script(type="text/javascript",src="./modules/addProduct/directives/addProduct.js")


    script(type="text/javascript",src="./modules/store/routes/store-config.js")
    script(type="text/javascript",src="./modules/store/store.js")
    script(type="text/javascript",src="./modules/store/store-completed.js")
    script(type="text/javascript",src="./modules/timer/timer.js")
    script(type="text/javascript",src="./modules/gallery/gallery.js")
    script(type="text/javascript",src="./modules/main/main.js")
    script(type="text/javascript",src="./modules/main/services/modal-service.js")
    script(type="text/javascript",src="./modules/main/services/modalAuth-service.js")
    script(type="text/javascript",src="./lib/jquery/dist/jquery.min.js")
    script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')
  
